name: "Pull Request Labeler"

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  labeler:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/labeler@v5
        with:
          configuration-path: ".github/labeler.yml"